*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/* color */

:root {
    --main-color: white; 
    --second-color :#323544;
  }


/* navbar */
.log-type{
    display: inline-block;
    vertical-align :middle;
    cursor: pointer;

}
.log-small{
    font-size: 10px;
    font-weight: 300;
    color: #BFC1C8 ;
}
.log-header{
    font-size: 16px    ;
    font-weight: 700;
    color: var(--main-color);
}
.collapse ul li a{
    color:var(--main-color);
    border:2px solid transparent;
    border-radius: 30px;
    padding: 5px 50px;
}
.collapse ul li a:hover{
    border:2px solid #009AD8;
    color: #009AD8;

}
/* banner */
.banner{
    background-image: url(./IMAGE/banner.png);
    background-size: cover;
    padding: 70px;
    min-height: 350px;

}
.searchBar{
    background-color: #0f2edf;
}

.find-btn{
    position: absolute;
    top:5px;
    right: 5px;
    bottom:5px;
    color: var(--main-color);
    
}
input::placeholder{
    color: #f1f2f7;
}

/* cards */
.card{
    background-color: var(--second-color);
}
.line-header{
    background-color: #272936;
    border-radius: 10px;
    padding: 10px;
   
}






/* footer */
footer{
    background-color: var(--second-color);
}

.line-footer{
    color: #BFC1C8;
    
}
.btn-footer{
  position:absolute;
  top:5px;
  bottom:5px;
right:-40px;


}

.input-footer{
    background-color:#1E202B;
}
.input-footer{
    border: none;
}
.input-footer:hover{
    border: transparent;
}
.social a {
    width:40px;
    height: 40px;
   border-radius: 50% 50%;
   border:1px transparent solid ;
   padding: 5px;
   background-color: #1E202B;
   margin: 6px;
   
  
}
.social a:hover{
    background-color:#009AD8;
    color: var(--main-color);
}